@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-image: url('./images/spacex.jpeg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  background-position:initial;
  /*bottom:30px;*/
  height: 100%;
  color: #ffffff;
}



body .station {
  background-image: url('./images/station.jpeg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  background-position:initial;
  /*bottom:30px;*/
  height: 100%;
  color: #ffffff;
}


.container {
  text-align:center;
  position:fixed;
  top:50%;
  transform:translateY(-50%);
  width:100%;
  margin: 0 auto;
}

.mainPanel {
  text-align: center;
  position:relative;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  padding:100px;
  height:250px;
  width:800px;
  opacity: 2.0;
}

.findPanel {
  text-align: center;
  position:relative;
  border: 3px solid #ffffff;
  border-radius: 35px;
  margin: 0 auto;
  padding:100px;
  height:250px;
  width:800px;
  opacity: 2.0;
}
